---
name: AutoPkg Runner

on:
  # schedule:
  #   - cron: "0 0 * * *"  # Adjust schedule as needed
  workflow_dispatch:  # Enables manual triggering

jobs:
  autopkg-run:
    runs-on: macos-latest
    env:
      AUTOPKG_SHA256: "304f51506103b5daae44a977df9f53c0ee43f164813690b674b1d1437c833b03"
      AUTOPKG_URL: "https://github.com/autopkg/autopkg/releases/download/v2.7.6/autopkg-2.7.6.pkg"
      MUNKI_SHA256: "ba52389db369dd123297bfdf30daf37baba44bf967144382363b3b08ab5fab90"
      MUNKI_URL: "https://github.com/munki/munki/releases/download/v5.6.3/munkitools-5.6.3.4401.pkg"
      AUTOPKG_DIR: "${{ github.workspace }}/AutoPkg"
      MUNKI_REPO: "andrew-kemp-dahlberg/munki/munki_repo"

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Set Munki repo vars
        run: |
          echo "MUNKI_GH_REPO=$(echo $MUNKI_REPO | cut -d'/' -f1,2)" >> $GITHUB_ENV
          echo "MUNKI_CLONE_DIR=$(echo $MUNKI_REPO | cut -d'/' -f2)" >> $GITHUB_ENV
          SUBDIR=$(echo $MUNKI_REPO | cut -d'/' -f3-)
          echo "MUNKI_DIR=${GITHUB_WORKSPACE}/$(echo $MUNKI_REPO | cut -d'/' -f2)${SUBDIR:+/$SUBDIR}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #6.0.0
        with:
          fetch-depth: 0 # Required for accurate diffs

      - name: Generate GitHub App token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 #2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.MUNKI_APP_ID }}
          private-key: ${{ secrets.MUNKI_APP_PRIVATE_KEY }}
          owner: andrew-kemp-dahlberg

      - name: Checkout Munki repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #6.0.0
        with:
          repository: ${{ env.MUNKI_GH_REPO }}
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 1
          path: ${{ env.MUNKI_CLONE_DIR }}

      - name: Setup Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #4.3.0
        with:
          path: |
            metadata_cache.json
          key: cache-${{ hashFiles('uv.lock') }}

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Install Munki
        run: |
          curl -L ${{ env.MUNKI_URL }} --output /tmp/munkitools.pkg
          echo "${{ env.MUNKI_SHA256 }} */tmp/munkitools.pkg" | shasum -c
          if [[ $? != "0" ]]; then exit 1; fi
          sudo installer -pkg /tmp/munkitools.pkg -target /

      - name: Install AutoPkg
        run: |
          curl -L ${{ env.AUTOPKG_URL }} --output /tmp/autopkg.pkg
          echo "${{ env.AUTOPKG_SHA256 }} */tmp/autopkg.pkg" | shasum -c
          if [[ $? != "0" ]]; then exit 1; fi
          sudo installer -pkg /tmp/autopkg.pkg -target /


      - name: Configure AutoPkg
        run: |
          defaults write com.github.autopkg CACHE_DIR "${AUTOPKG_DIR}/Cache"
          defaults write com.github.autopkg MUNKI_REPO "${MUNKI_DIR}"
          defaults write com.github.autopkg RECIPE_OVERRIDE_DIRS "${AUTOPKG_DIR}/Overrides"
          defaults write com.github.autopkg RECIPE_SEARCH_DIRS "${AUTOPKG_DIR}/Recipes"
          defaults write com.github.autopkg FAIL_RECIPES_WITHOUT_TRUST_INFO -bool No
        # defaults write com.github.autopkg GITHUB_TOKEN "${{ secrets.GITHUB_TOKEN }}"

      - name: Run AutoPkg
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          MUNKI_GIT_DIR: ${{ github.workspace }}/${{ env.MUNKI_CLONE_DIR }}
        run: |
          uv run scripts/autopkg_tools.py


      # - name: Configure AWS credentials
      #   if: always()
      #   uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 #5.1.1
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: us-east-1

      # - name: Push packages to Storage Bucket
      #   if: always()
      #   run: |
      #     aws s3 sync ${MUNKI_DIR}/pkgs/ s3://${{secrets.AWS_S3_BUCKET}}/pkgs/


      - name: Upload Artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: autopkg-run-artifacts
          path: |
            AutoPkg/Cache/**/*receipt*
            AutoPkg/Reports/*
            autopkg_runner.log
            metadata_cache.json
            Munki
