name: Autopromote

on:
  # schedule:
  #   - cron:  '30 16 * * *'
  workflow_dispatch:  # Enables manual triggering

jobs:
  autopromote:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - name: Checkout this repo
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #6.0.0
      with:
        fetch-depth: 1

    - name: Generate GitHub App token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 #2.2.0
      id: app-token
      with:
        app-id: ${{ secrets.MUNKI_APP_ID }}
        private-key: ${{ secrets.MUNKI_APP_PRIVATE_KEY }}
        owner: andrew-kemp-dahlberg

    - name: Checkout Munki repo
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #6.0.0
      with:
        repository: ${{ env.MUNKI_GH_REPO }}
        token: ${{ steps.app-token.outputs.token }}
        fetch-depth: 1
        path: ${{ env.MUNKI_CLONE_DIR }}


    - name: Disable makecatalogs
      run: |
        echo -e "#!/bin/bash\necho 'makecatalogs disabled'" >> ~/makecatalogs
        sudo install -D -m 777 ~/makecatalogs /usr/local/munki/makecatalogs

    - name: Configure autopromote
      run: |
        sudo cp autopromote.json /usr/local/munki/autopromote.json
        echo "export SLACK_TOKEN='${{ secrets.AUTOPROMOTE_SLACK_TOKEN }}'" >> ~/.autopromote.env
        sudo install -m 644 /dev/null /var/log/autopromote.log
        sudo ln -s munkirepo/ /usr/local/munkirepo

    - name: Install python dependencies
      run: |
        sudo apt-get install -y python3-setuptools
        pip3 install -r requirements.txt
        pip3 install packaging

    - name: Run autopromote
      run: |
        python3 scripts/autopromote.py
      env:
        SLACK_TOKEN: ${{ secrets.AUTOPROMOTE_SLACK_TOKEN }}

    - name: Push changes
      run: |
        cd munkirepo/
        git config --global user.name "runner"
        git config --global user.email "runner@githubactions.local"
        git checkout -b "autopromote-`date +'%Y-%m-%d'`"
        git add pkgsinfo/
        if git diff --exit-code; then git commit -m "`date +'%Y-%m-%d'` autopromote" && git push --set-upstream origin "autopromote-`date +'%Y-%m-%d'`"; else echo "Nothing to commit"; fi
